.gitignore
/bin

.classpath

/classes

.project
/src/org/designwizard/main/Testa.java
/src/org/designwizard/archmodule/ArchitectureDesignTest.java
/src/org/designwizard/archmodule/ClasseQualquer.java
/src/org/designwizard/archmodule/Otraclasse.java